#container {
  display: flex;
  justify-content: center;
}

#player,
#player-edit,
#monster,
#monster-edit {
  padding: 15px;
}

#player-attack {
  margin-right: 10px;
}
#player,
#player-edit {
  border: solid 1px blue;
  width: 100%;
  margin-right: 10px;
}

#monster,
#monster-edit {
  border: solid 1px red;
  width: 100%;
}

#monster-edit {
  margin-right: 10px;
}

pre {
  height: auto;
  overflow: auto;
  background-color: #eeeeee;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

input {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }
  #save {
    width: 100%;
    align-self: center;
  }
  #player-attack {
    width: 100%;
  }

  #player,
  #player-edit,
  #monster-edit {
    margin-bottom: 15px;
  }

  #monster {
    margin-top: 15px;
  }
}
